{
	auto_https off
	servers {
		protocols h1
	}
}

:80 {
	handle /up {
		header Content-Type text/plain; charset=utf-8
		respond `OK` 200
	}
	handle {
		redir https://www.getcolors.ai{uri} permanent
	}
}
